body {
  margin: 0;
  background-color: red;
}

section {
  width: 100%;
  background-color: gold;
  margin: auto;
padding: 50px;

}

header {
  width: 100%;
  height: 300px;
  background-color: red;
  text-align: center;
  color: gold;
  font-family:'Courier New', 'Courier New', Courier, monospace ;
  font-size: 3em;
  padding-top: 20px;

  
}

ul {
  background-color: red;
  text-align: center;
}

li {
  display: inline;
  
}

a {
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: 20px;
}

a:hover{
  background-color: gold;
  color: black;
}

#image-1 {
  background-image: url('image1.gif');
  background-color: yellow;
  background-position: center;
  padding: 20px;
  background-size: 500px;
  max-width: 100%;
  height: 300px;
border:2px;

  
  background-attachment: scroll;
  
}

#image-2 {
  background-image: url('image2.jpg');
  background-size: 100%;
  max-width: 100%;
  height: 300px;
   background-position: center;
  background-attachment: scroll;
}

#image-3 {
  background-image: url('image3.jpg');
  background-size: 100%;
  max-width: 100%;
  height: 300px;
  background-attachment: scroll;
background-position:center;

}


